.vscode/tasks.json
piano_di_progetto/*.toc
piano_di_progetto/*.out
piano_di_progetto/*.log
piano_di_progetto/*.ind
piano_di_progetto/*.ilg
piano_di_progetto/*.idx
piano_di_progetto/*.fls
piano_di_progetto/*.fdb_latexmk
piano_di_progetto/*.aux
piano_di_progetto/*.log
Glossario/*.toc
Glossario/Sezioni/*.log
*.toc
*.gz
*.out
*.log
*.lof
*.idx
*.aux
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.xdv
